// .widgets,
// .charts {
//   display: flex;
//   padding: 20px;
//   gap: 20px;
// }

// .charts {
//   padding: 5px 20px;
// }

// .listContainer {
//   -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
//   box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
//   padding: 20px;
//   margin: 20px;

//   .listTitle {
//     font-weight: 500;
//     color: gray;
//     margin-bottom: 15px;
//   }
// }

// .wrapper {
//   display: flex;
//   flex-direction: row;
// }

.chartList {
  display: flex;
  padding: 0;
  margin: 30px 60px;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;

  &_name {
    width: 120px;
    height: 25px;
    padding: 5px 0;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-weight: 600;
    color: #6439ff;
    border: solid thin rgb(214, 209, 209);
    border-radius: 5px;
  }

  &_name:hover {
    cursor: pointer ;
    background-color: #ece8ff;;
  }
}

.chartForm {
  display: block;
  width: 60%;
  margin: 60px;
  
}